extends template/basic_page
block Variables
	-Title       = 'Gráfico para patagónicos'
	-UsesJQuery  = true
	-JavaScripts = ['opentip/opentip-jquery']
	-StyleSheets = ['opentip/opentip']
	
block Content	
	.grafico
